_target_: lfads_torch.band_model.BAND

# --------- architecture --------- #
encod_data_dim: 75
encod_seq_len: 40
recon_seq_len: 40
ext_input_dim: 0
ic_enc_seq_len: 0
ic_enc_dim: 64
ci_enc_dim: 64
ci_lag: 1
con_dim: 64
co_dim: 4
ic_dim: 64 # 50 in autoband paper
gen_dim: 200
fac_dim: 20

# --------- readin / readout --------- #
readin:
  _target_: lfads_torch.modules.readin_readout.MultisessionReadin
  datafile_pattern: ${datamodule.datafile_pattern}
  out_features: ${model.fac_dim}
  pcr_init: False

readout:
  _target_: lfads_torch.modules.readin_readout.MultisessionReadout
  datafile_pattern: ${datamodule.datafile_pattern}
  in_features: ${model.fac_dim}
  pcr_init: False

behavior_readout:
  _target_: lfads_torch.modules.readin_readout.FanInSeq2Seq
  in_features: ${model.fac_dim}
  out_features: 5
  time_features: ${model.encod_seq_len}

# --------- augmentation --------- #
train_aug_stack:
  _target_: lfads_torch.modules.band_augmentations.AugmentationStack
  transforms:
    - _target_: lfads_torch.modules.band_augmentations.CoordinatedDropout
      cd_rate: 0.3
      cd_pass_rate: 0.0
      ic_enc_seq_len: ${model.ic_enc_seq_len}
  batch_order: [0]
  loss_order: [0]
infer_aug_stack:
  _target_: lfads_torch.modules.band_augmentations.AugmentationStack

# --------- priors / posteriors --------- #
reconstruction:
  _target_: lfads_torch.modules.recons.MultisessionReconstruction
  datafile_pattern: ${datamodule.datafile_pattern}
  recon:
    _target_: lfads_torch.modules.recons.Poisson
behavior_reconstruction:
  _target_: lfads_torch.modules.recons.MultisessionReconstruction
  datafile_pattern: ${datamodule.datafile_pattern}
  recon:
    _target_: lfads_torch.modules.recons.MSE
variational: True
co_prior:
  _target_: lfads_torch.modules.priors.MultivariateNormal
  # tau: 10.0
  # nvar: 0.1
  mean: 0
  variance: 0.1
  # loc: 0.
  # scale: 1.
  # df: 1.
  shape: ${model.co_dim}
ic_prior:
  _target_: lfads_torch.modules.priors.MultivariateNormal
  mean: 0
  variance: 0.1
  shape: ${model.ic_dim}
ic_post_var_min: 1.0e-4

# --------- misc --------- #
dropout_rate: 0.1 # sampled
cell_clip: 5.0
loss_scale: 1.0
recon_reduce_mean: False
behavior_weight: 0.1

# --------- learning rate --------- #
lr_init: 4.0e-3
lr_stop: 1.0e-5
lr_decay: 0.95
lr_patience: 6
lr_adam_beta1: 0.9
lr_adam_beta2: 0.999
lr_adam_epsilon: 1.0e-7
lr_scheduler: True

# --------- regularization --------- #
weight_decay: 0.0
l2_start_epoch: 0
l2_increase_epoch: 80
l2_ic_enc_scale: 0.0
l2_ci_enc_scale: 0.0
l2_gen_scale: 0.0 # sampled
l2_con_scale: 0.0 # sampled
kl_start_epoch: 0
kl_increase_epoch: 500
kl_ic_scale: 1. 
kl_co_scale: 30.0 
kl_ic_target: 0.
kl_co_target: 0.

